@import "tailwindcss";

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out;
}

@keyframes spin-once {
  0% {
    transform: rotate(0deg) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: rotate(720deg) scale(1);
    opacity: 1;
  }
}

.spin-once {
  animation: spin-once 1.5s ease-out forwards;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
